@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-200;
  }
}

@layer utilities {
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-up {
    animation: fadeInUp 0.6s ease-out forwards;
  }

  @keyframes modalPop {
    from {
      opacity: 0;
      transform: scale(0.95);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-modal-pop {
    animation: modalPop 0.3s ease-out forwards;
  }
}